In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("BigDataTask1") \
    .getOrCreate()

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/flights.csv"
df_pandas = pd.read_csv(url)

df = spark.createDataFrame(df_pandas)
df.show(5)

+----+--------+----------+
|year|   month|passengers|
+----+--------+----------+
|1949| January|       112|
|1949|February|       118|
|1949|   March|       132|
|1949|   April|       129|
|1949|     May|       121|
+----+--------+----------+
only showing top 5 rows

In [4]:
df.printSchema()

root
 |-- year: long (nullable = true)
 |-- month: string (nullable = true)
 |-- passengers: long (nullable = true)

In [5]:
df.count()

144

In [6]:
df.groupBy("year").avg("passengers").show()

+----+------------------+
|year|   avg(passengers)|
+----+------------------+
|1950|139.66666666666666|
|1951|170.16666666666666|
|1949|126.66666666666667|
|1953|             225.0|
|1954|238.91666666666666|
|1952|             197.0|
|1958|             381.0|
|1956|            328.25|
|1960| 476.1666666666667|
|1955|             284.0|
|1959| 428.3333333333333|
|1957| 368.4166666666667|
+----+------------------+

In [7]:
df.orderBy(df.passengers.desc()).show(5)

+----+------+----------+
|year| month|passengers|
+----+------+----------+
|1960|  July|       622|
|1960|August|       606|
|1959|August|       559|
|1959|  July|       548|
|1960|  June|       535|
+----+------+----------+
only showing top 5 rows

INSIGHTS:

1. The dataset shows a clear trend in passenger growth over the years.
2. GroupBy and aggregation operations were efficiently handled using PySpark.
3. Spark enables scalable processing of large datasets compared to traditional methods.
4. This analysis demonstrates how big data tools can extract meaningful insights from large datasets.